{% extends 'base.html' %}

{% block title %} {{car.title}} {% endblock %}

{%block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>{{car.title}} </h1>
            <br>
            <h5>Владелец: {{car.owner_id}} </h5>
            <br>
            <p><strong>Цена:</strong> {{car.price|default:"Цена не указана"}}</p>
            <p><strong>Пробег:</strong> {{car.mileage}}</p>
            <p><strong>Описание:</strong> {{car.description|truncatechars:100}}</p>
            <p><strong>Длина описания:</strong> {{car.description|length}}</p>

            <a href="{% url 'car_list' %}" class="btn btn-secondary">Назад к списку машин</a>
            <a href="{% url 'car_update' car.pk %}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'car_delete' car.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}